h1{
 color: #000000;
}
body{
    background-color:#ffffff
}
#encabezado {
      background-color:#9f1414;
      height: 150px;
      width: 80%;
      margin: 0 auto;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 10px 10px 5px rgb(65, 21, 0);
      display: flex;
}
.logo{
    background-color: rgba(255, 140, 0, 0.986);   
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.logo img{
    width: 100%;
    height: auto;     
}
.menu{
    width:70%;
    background-color: rgb(104, 126, 197);
}
.menu ul{
    list-style: none;
    padding:0;
    margin:0;
    display:flex;
    color:#ffffff
}
.menu ul li{
    margin:0;
    padding: 15px 20px;
}
.menu ul li a{
    text-decoration: none;
    margin:0;
}
.menu ul li a:hover{
    text-decoration: none;
    margin:0;
    padding:15xp 20px;
}
.redes{
    width:20%;
    background-color: rgb(48, 149, 122);
}