h1{
 color: #bd0701;
}
body{
    background-color:#f2f3e5
}
#encabezado {
      background-color:#508a44;
      height: 150px;
      width: 80%;
      margin: 0 auto;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 10px 10px 5px rgb(65, 21, 0);
}